*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    width: 150px;
    height: 30px;
    border: black 1px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    
    
}
h1 {
    text-align: center;
    background-color: rgb(106, 153, 26);
    color: white;
    width: 754px;
    height: 50px;
    justify-content: center;
    align-items:center ;
    border: black 1px solid;
    font-size: 30px;
    display: flex;
}
.container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
button {
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}
.row {
    display: flex;
    gap: 1px;
    background-color: rgb(202, 233, 180);
}
.row1 {
    font-weight: 600;
    color: rgb(105, 13, 13);
    display: flex;
    gap: 1px;
    
}
.row1 p {
    background-color: rgb(233, 180, 180);
    font-size: 16px
}
